<library path="lib/librqt_sarus_test_plugin">
  <class name="TestPlugin" type="rqt_sarus_test_plugin::TestPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description></description>
    <qtgui>
      <group>
        <label>rqt plugins</label>
        <icon type="theme">folder</icon>
      </group>
      <label>Test plugin</label>
      <statustip></statustip>
    </qtgui>
  </class>
</library>
