<?xml version="1.0"?>
<launch>
  	<!-- You must be aware that if ns is included, all topics of the node will start with /ns/.....-->
  	<arg name="namespace"     default="drone0" />

	<node pkg = "filter_frames" type="filter_frames_node" name = "filter_frames_node" ns = "$(arg namespace)">
	    <param name="use_sim_time" value="true" />
	</node>

</launch>