<?xml version="1.0"?>

<launch>
  <arg name="world" default="sarus_simulation_gazebo.world"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
 
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>  

   <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find tdf_gazebo)/worlds/$(arg world)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>


</launch>